<header>
  <div class="taskNumber" *ngIf="taskNumber =='0'; then trueBlock else falseBlock"> </div>
  <ng-template #trueBlock>
    <button icon="pi pi-check" label="All Done!" (dblclick)="test()" pButton type="button" class="grueso"></button>
  </ng-template>
  <ng-template #falseBlock>
    <button pButton type="button" label="Remaining" class="p-button-warning grueso ">
      <i class="pi pi-exclamation-triangle" pBadge [value]="taskNumber" severity="success"
        style="margin-right: 1em; width: 15%"></i>
    </button>
  </ng-template>
  <h1> TODO APP</h1>
  <p-button label="Add Task" styleClass="p-button-secondary" class="grueso" (click)="showPopUp()">  <i class="pi pi-plus" 
    style="margin-right: 1em; width: 15%"></i></p-button>
</header>

<body [ngClass]="{'translucent' : popUp == true}">

  <main>

    <app-task-container></app-task-container>

  </main>

</body>
<p-dialog header="Add a new Task" [(visible)]="popUp" styleClass="pop-up">
  <app-task-form [add]="true"></app-task-form>
</p-dialog>