<section class="form-container">
    <div [hidden]="taskForm.title?.length!=0" class = "alert-danger">
        *Task name is required
    </div>
    <input [(ngModel)]="taskForm.title" type="text" pInputText placeholder="Task Name" pInputText class="p-inputtext-sm"
        class="titulo" required />

    <div class="button-line">
        <p-selectButton [disabled]="add" [options]="status" [(ngModel)]="taskForm.status" optionLabel="name">
        </p-selectButton>

        <p-selectButton [options]="priority" [(ngModel)]="taskForm.priority" optionLabel="name"></p-selectButton>
    </div>
    <textarea [(ngModel)]="taskForm.description" placeholder="Task Description (Max 255 Characters)" maxlength="255"
        name="description"></textarea>
    <span>{{taskForm.description?.length}} /255</span>
    
    <div *ngIf="add==true;then create else update"></div>
    <ng-template #create>
        <p-button label="Create" icon="pi pi-check" iconPos="right" [disabled]="taskForm.title?.length==0" type="submit" (click)="createTask()">
        </p-button>
    </ng-template>
    <ng-template #update>
        <p-button label="Update" icon="pi pi-check" iconPos="right" [disabled]="taskForm.title?.length==0" type="submit" (click)="createTask()">
        </p-button>
    </ng-template>
    
    
</section>