<main [ngClass]="{'translucent' : popUp == true}">
    <div (drop)="drop($event, 'notstarted')" (dragover)="allowDrop($event)" class="task-container">
        <div class="list-header">
            <h2><button class="header-title" (click)="allTasksByStatus('notstarted')"> To-Do Task </button></h2>
            <button class="priority-1 header-button" (click)="filterByPrio('notstarted',1)"></button>
            <button class="priority-2 header-button" (click)="filterByPrio('notstarted',2)"></button>
            <button class="priority-3 header-button" (click)="filterByPrio('notstarted',3)"></button>
        </div>
        <p-card draggable="true" (dragstart)="drag($event)" class="card" *ngFor="let todo of tasksByStatus.notstarted"
            [id]="todo.id">
            <ng-template pTemplate="header">
                <div class="card-header">
                    <p class="card-header-text">{{todo.title}}
                        <p-chip [class]="
                         todo.priority == 1
                          ? 'priority-1 mr-2'
                          : todo.priority == 2
                          ? 'priority-2 mr-2'
                          : 'priority-3 mr-2'" styleClass="mr-2 custom-chip">
                        </p-chip>
                    </p>
                </div>
            </ng-template>
            {{todo.description}}
            <ng-template pTemplate="footer">
                <div class="card-footer">
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-pencil" (click)="showPopUp(todo)" styleClass="custom-button"></button>
                    <p> {{todo.date}}</p>
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-trash" styleClass="trash-button" (click)="deleteTask(todo)"></button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div #cont2 (drop)="drop($event, 'started')" (dragover)="allowDrop($event)" class="task-container">
        <div class="list-header">
            <h2><button class="header-title" (click)="allTasksByStatus('started')"> Started Tasks </button></h2>
            <button class="priority-1 header-button" (click)="filterByPrio('started',1)"></button>
            <button class="priority-2 header-button" (click)="filterByPrio('started',2)"></button>
            <button class="priority-3 header-button" (click)="filterByPrio('started',3)"></button>
        </div>

        <p-card draggable="true" (dragstart)="drag($event)" class="card" *ngFor="let todo of tasksByStatus.started"
            [id]="todo.id">
            <ng-template pTemplate="header">
                <div class="card-header">
                    <p class="card-header-text">{{todo.title}}
                        <p-chip [class]="
                         todo.priority == 1
                          ? 'priority-1 mr-2'
                          : todo.priority == 2
                          ? 'priority-2 mr-2'
                          : 'priority-3 mr-2'" styleClass="mr-2 custom-chip">
                            {{todo.priority}}
                        </p-chip>
                </div>
            </ng-template>
            {{todo.description}}
            <ng-template pTemplate="footer">
                <div class="card-footer">
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-pencil" (click)="showPopUp(todo)" styleClass="custom-button"></button>
                    <p> {{todo.date}}</p>
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-trash" styleClass="trash-button" (click)="deleteTask(todo)"></button>
                </div>
            </ng-template>
        </p-card>
    </div>

    <div #cont3 (drop)="drop($event, 'finished')" (dragover)="allowDrop($event)" class="task-container">
        <div class="list-header">
            <h2><button class="header-title" (click)="allTasksByStatus('finished')"> Finished Tasks </button></h2>
            <button class="priority-1 header-button" (click)="filterByPrio('finished',1)"></button>
            <button class="priority-2 header-button" (click)="filterByPrio('finished',2)"></button>
            <button class="priority-3 header-button" (click)="filterByPrio('finished',3)"></button>
        </div>
        <p-card draggable="true" (dragstart)="drag($event)" class="card" *ngFor="let todo of tasksByStatus.finished"
            [id]="todo.id">
            <ng-template pTemplate="header">
                <div class="card-header">
                    <p class="card-header-text">{{todo.title}}
                        <p-chip [class]="
                         todo.priority == 1
                          ? 'priority-1 mr-2'
                          : todo.priority == 2
                          ? 'priority-2 mr-2'
                          : 'priority-3 mr-2'" styleClass="mr-2 custom-chip">
                            {{todo.priority}}
                        </p-chip>
                </div>
            </ng-template>
            {{todo.description}}
            <ng-template pTemplate="footer">
                <div class="card-footer">
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-pencil" (click)="showPopUp(todo)" styleClass="custom-button"></button>
                    <p> {{todo.date}}</p>
                    <button pButton type="button" class="p-button-raised p-button-rounded p-button-sm "
                        icon="pi pi-trash" styleClass="trash-button" (click)="deleteTask(todo)"></button>
                </div>
            </ng-template>
        </p-card>
    </div>


</main>
<p-dialog header="Update your Task" [(visible)]="popUp" styleClass="pop-up">
    <app-task-form [add]="false" [taskForm]="selectedTaskForm"></app-task-form>
</p-dialog>